@model NS.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div class="container text-center">
            <h2>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;

        <div class="container text-center mt-5">
            <h1>@Html.Raw(Model.Title)</h1><br /><br />
            <h3>@Html.Raw(Model.Message)</h3><br /><br />
        </div>

    }
}
