@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos!</h1>
    <p>Projeto desenvolvido por <a href="https://docs.microsoft.com/aspnet/core">Wallace Maia</a>.</p>
</div>
